In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [2]:
df =  pd.read_csv(r'C:\Users\DY\Documents\GitHub\UFCproject\df_ufc_masters.csv')

In [3]:
selected_features = [
    'R_fighter',
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct',
    'R_Height_cms',
    'R_Reach_cms',
    'R_age'
]

In [4]:
df_selected = df[selected_features]

In [5]:
fighter_counts = df_selected['R_fighter'].value_counts().rename('count')

In [6]:
df_selected = df_selected.merge(fighter_counts, left_on='R_fighter', right_index=True)

In [7]:
grouped_features = [
    'R_avg_SIG_STR_landed',
    'R_avg_SIG_STR_pct',
    'R_avg_SUB_ATT',
    'R_avg_TD_landed',
    'R_avg_TD_pct'
]
df_grouped = df_selected.groupby('R_fighter')[grouped_features].mean()

In [8]:
df_final = df_grouped.merge(df_selected[['R_fighter', 'count', 'R_Height_cms', 'R_Reach_cms', 'R_age']].drop_duplicates(), on='R_fighter')

In [10]:
df_final

,R_fighter,R_avg_SIG_STR_landed,R_avg_SIG_STR_pct,R_avg_SUB_ATT,R_avg_TD_landed,R_avg_TD_pct,count,R_Height_cms,R_Reach_cms,R_age
0,Jun Yong Park,0.000000,0.521700,0.0,0.500000,0.250,1,177.80,185.42,28
1,Aalon Cruz,8.310000,0.395000,0.0,0.000000,0.000,2,182.88,198.12,30
2,Aalon Cruz,8.310000,0.395000,0.0,0.000000,0.000,2,182.88,198.12,31
3,Aaron Phillips,6.623333,0.346667,0.5,0.000000,0.000,3,175.26,177.80,25
4,Aaron Phillips,6.623333,0.346667,0.5,0.000000,0.000,3,175.26,177.80,30
...,...,...,...,...,...,...,...,...,...,...
5994,Zu Anyanwu,0.000000,0.000000,0.0,0.000000,0.000,1,185.42,195.58,36
5995,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,24
5996,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,23
5997,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,29
5998,Zubaira Tukhugov,18.226667,0.327500,0.0,1.957222,0.395,6,172.72,172.72,25

In [11]:
df_final_unique = df_final.drop_duplicates(subset='R_fighter')